/* You can add global styles to this file, and also import other style files */

  body{
    background-color: rgb(127, 219, 247);
    color: rgb(218, 236, 248);
  }

  h2{
    color: rgb(153, 163, 174);
  }